<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="scss/index.css"/>
		<style type="text/css">
			ul,ol{list-style: none;margin: 0;}
			img{width: 100%;}
			.moreImgT{
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div id="html">
			<!--展示内容区-->
			<div class="container" ref="html">
				<div class="row">
					<div class="col-lg-12">
					    <div class="swiper-container" style="height: 432px;width: 768px;margin: auto;">
					        <div class="swiper-wrapper">
					            <div class="swiper-slide"v-for="uploadingBanner in bannerImg" >
					            	<img v-bind:src="uploadingBanner" />
					            </div>
					        </div>
					        <div class="swiper-pagination swiper-pagination-white"></div>
					    </div>
					    <div class="moreImgT">
					    	<div class="row">
					    		<div class="col-md-1" v-for="(moreImgTo,index) in moreImgT">
					    			<img v-bind:src="moreImgT[index]"/>
					    		</div>
					    	</div>
					    </div>
					</div>
				</div>
			</div>
			<div class="compile">
				<a href="javascript:;" class="file btn btn-success btn-lg" 
				v-on:change="getBanner(index)" v-model="bannerImgTo" v-for="(bannerImgF,index) in bannerImg">
					上传第{{index+1}}张图片<input type="file" ref="uploadingBannerImg" >
				</a>
				<a href="javascript:;" class="file btn btn-success btn-lg" >
					多张图片上传<input type="file" ref="moreImg" multiple="multiple" v-on:change="moreImg">
				</a>
				<button class="btn btn-primary" v-on:click="addBannerImg" >再来一张图片</button>
				<button class="btn btn-primary" v-on:click="removeBannerImg">删除一张图片</button>
			</div>
			<!--操作区-->
		</div>
	</body>
	<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">

	</script>
</html>
